.event-list-container {
    display: flex;
    flex-direction: column;
    margin: 0 5% 20px;

    .event-list-heading-text {
        margin-left: 2%;
        font-size: 25px;
    }

    .search-events-control {
        width: 45%;
        margin: 0 2%;
    }

    .list-container {
        margin-bottom: 20px;

        .event-list {
            display: flex;
            flex-wrap: wrap;

            .event-list-item {
                margin: 2%;
                width: 250px;

                .event-card {
                    .card-actions-container {
                        .book-now-action-button {
                            margin: 0 8px;
                        }

                        .sold-out-text {
                            margin: 0;
                            line-height: 36px;
                            margin: 0 8px;
                            color: orangered;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .event-data-empty-text {
        margin-left: 2%;
    }
}

.mat-list-base .mat-list-item {
    height: unset;
}
