mat-toolbar {
    mat-toolbar-row {
        height: 70px;

        .nav-list-container {
            padding: 0 16px;

            .header-text {
                color: white;
                font-size: 25px;
            }
        }
    }
}
